@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 패딩 삭제 */
html,
body {
  margin: 0;
  padding: 0;
}

/* 반응형 적용 */
html {
  font-size: 1.5vmin;
}
@media (min-width: 640px) {
  html {
    font-size: 1vmin;
  }
}

/* 스크롤바 숨김 */
::-webkit-scrollbar {
  display: none;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* 기본 배경색 적용 */
html {
  background-color: #fff3e2;
}
